[user]
	name = Jacob Castello
	email = jacob.castello@cfpb.gov
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
  helper = osxkeychain
[merge]
  tool = vimdiff
[difftool]
  prompt = false
